/* nav */
#navbar {
    width: 100%;
    height: 80px;
    background-color: darkgray;
}
.navbox {
    width: 120px;
    height: 66px;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid black;
    display: inline-block;
}
.navbox:hover {
    /* width: 114px;
    height: 60px;
    border: 5px solid black; */
    /* transform: rotat(13deg) translate(-3px, -100px); */
    transform: rotation 2s infinite linear;
    transition-duration: 0.8s;
}

/* main */
#mainRegion {
    width: 100%;
    /* height: 2000px; */
}

#leftCol {
    width: 30%;
    height: 100%;
    background-color: whitesmoke;
    padding: 3px;
}

#rightCol {
    width: 70%;
    height: 100%;
    background-color: rgb(138, 222, 138);
    padding: 3px;
    border: yellowgreen 2px dashed;
}

#rightColDiv {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* background-color: darkgray; */
}

#step1 {
    display: block;
    align-content: center;
    /* background-color: aquamarine; */
}
#step2 {
    display: none;
    align-content: center;
    /* background-color: aquamarine; */
}
#step3 {
    display: none;
    align-content: center;
    /* background-color: aquamarine; */
}
#step4 {
    display: none;
    align-content: center;
    /* background-color: aquamarine; */
}
#step5 {
    display: none;
    align-content: center;
    /* background-color: aquamarine; */
}

.moving-button {
    padding: 5px;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
}