/* nav */
#navbar {
    width: 100%;
    height: 80px;
    background-color: darkgray;
}
.navbox {
    width: 120px;
    height: 66px;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid black;
    display: inline-block;
}
.navbox:hover {
    /* width: 114px;
    height: 60px;
    border: 5px solid black; */
    /* transform: rotat(13deg) translate(-3px, -100px); */
    transform: rotation 2s infinite linear;
    transition-duration: 0.8s;
}

/* main */
#mainRegion {
    width: 100%;
    /* height: 2000px; */
}

#leftCol {
    width: 30%;
    height: 100%;
    background-color: whitesmoke;
    padding: 3px;
}

#rightCol {
    width: 70%;
    height: 100%;
    background-color: whitesmoke;
    padding: 3px;
}